@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Caveat:wght@400..700&family=Dynalight&family=Montserrat:ital,wght@0,700;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-image: url("/img/wallpaper.jpg");
  width: 100%;
  height: 100vh;
}

.main-container img:first-child {
  background-size: cover;
  height: 100vh;
}

.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rounded-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
}

.title {
  position: absolute;
  top: -35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title p {
  text-align: center;
  font-size: 20px;
}

.wedding-names {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Dynalight";
}

.wedding-names p {
  font-size: 27px;
  text-align: center;
}

.invitation {
  text-align: center;
  margin-top: 8%;
}

.invitation p:nth-child(3) {
  color: #1064a0;
}

.second-container {
  height: 100vh;
  width: 100%;
  background-image: url("img/wallpaper.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.flower {
  width: 48%;
}

.bottom-flower {
  rotate: 180deg;
  align-self: end;
}

.hero {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero p {
  text-align: center;
  color: #302a5d;
}

.hero > p {
  font-size: 12px;
  font-family: "Playfair Display";
  margin-bottom: 20px;
  padding: 0 12px;
}

.person {
  display: flex;
}

.person img {
  width: 50%;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.man-person .name-wrapper p {
  text-align: start;
}

.women-person .name-wrapper p {
  text-align: end;
}

.name-wrapper p:first-child {
  color: #302a5d;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
}

.name-wrapper p:nth-child(2) {
  font-size: 12px;
}

.name-wrapper p:nth-child(3) {
  padding: 3px;
  background-color: #6281c8;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  font-size: 13px;
  width: 70%;
  margin-top: 10px;
  background-image: url("/img/instagram.png");
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: left center;
}

.man-person .name-wrapper p:nth-child(3) {
  padding-left: 23px;
}

.women-person .name-wrapper p:nth-child(3) {
  align-self: end;
}

.third-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.third-container img:first-child {
  width: 100%;
}

.date-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: url("img/border-flower.png") no-repeat center;
  background-size: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-wrapper > p:nth-child(3) {
  font-family: 'Montserrat';
}

.date-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 65%;
}

.wedding-text {
  text-align: center;
}

.wedding-text p:last-child {
  font-weight: bold;
}

.text {
  font-size: 13px;
}

.text p:first-child {
  font-weight: bold;
}

.akad {
  text-align: center;
}

.resepsi {
  text-align: center;
}

.text-wrap p {
  color: #1064a0;
  font-size: 20px;
  text-align: center;
}

.text-wrap p:first-child, p:nth-child(3) {
  font-family: 'Belleza';
}

.text-wrap p:nth-child(2) {
  font-family: 'Caveat';
}

.date {
  border: 1.4px solid black;
  border-left: 0;
  border-right: 0;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-container,
  .second-container,
  .third-container {
    width: 35%;
  }
}
